<template>
    <div class="m-t-20">
        <div class=" offset-md-2 col-md-4">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Url Original</th>
                    <th scope="col">Url Corta</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item, index) in listUrl">
                    <td>{{item.urlLong}}</td>
                    <td>{{item.urlShort}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>

    import shortUrlService from '../api_services/shortUrl';
    export default {
        components:{
        },
        data(){
            return {
                listUrl:[]
            };
        },
        computed: {

        },
        watch:{

        },
        methods:{
            getUrlsList(){
                shortUrlService.getUrls()
                    .then((response) => {
                        this.listUrl = response;
                    })
                    .catch(err => {
                        console.warn(err);
                    });
            }
        },
        mounted() {
            this.getUrlsList();
        }
    }
</script>
