<template>
    <div class="m-t-20">
        <div class="row">
            <div class="offset-4 col-md-2">Iteraciones</div>
            <div class="col-md-2"><input type="number" class="form-control" v-model="t" min="1"/></div>
        </div>
        <div class="row m-t-20">
            <div class="offset-4 col-md-2">N</div>
            <div class="col-md-2">M</div>
        </div>
        <div class="row m-t-20" v-for="a in parseInt(t)">
            <div class="offset-4 col-md-2"><input class="form-control" type="number" v-model="n[a-1]"/></div>
            <div class="col-md-2"><input class="form-control" type="number" v-model="m[a-1]"/></div>
        </div>

        <div class="row m-t-20">
            <div class="offset-4 col-md-4">
                <button class="form-control" @click="llenarMatrices">Generar resultados</button>
            </div>
        </div>

        <div class="row m-t-20">
            <div class="offset-4 col-md-4 prueba-matriz">
                <label>Resultados:</label>
                <ul style="list-style: none">
                    <li v-for="dir in direccionVista">
                        {{dir}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        components:{
        },
        data(){
            return {
                t:0,
                matrices:[],
                n:[],
                m:[],
                contadorElementos:0,
                htmlText:'',
                direccionVista:[],
            };
        },
        computed: {

        },
        watch:{
            t(val){

            }
        },
        methods:{
            llenarMatrices(){
                this.resetVar();
                var i;
                for(i = 0; i < this.t; i++){
                    var matrizTmp = new Array(parseInt(this.n[i]));
                    var c;
                    for(c = 0; c < this.n[i]; c++){
                        matrizTmp[c] = new Array(parseInt(this.m[i]));
                    }
                    this.matrices.push(matrizTmp);
                }
                let _this = this;
                this.matrices.forEach(function (matriz, index, array) {
                    _this.recorrerEspiral(matriz);
                });
            },
            recorrerEspiral(matrizItem){
                var i;
                var c;
                let matriz = matrizItem;
                /*console.log(this.matrices[0]);*/
                for (i = 0; i < matriz.length; i++){
                    for(c = 0; c < matriz[0].length; c++){
                        matriz[i][c] = parseInt(Math.random()*50);
                    }
                }

                this.htmlText = ''
                /*console.log(this.matrices[0]);*/
                for (i = 0; i < matriz.length; i++){
                    for(c = 0; c < matriz[0].length; c++){
                        matriz[i][c] = parseInt(Math.random()*99) + 10;
                        this.htmlText += matriz[i][c] + ' ';
                    }
                    this.htmlText +="<br>";
                }

                let n = 0;
                let m = 0;
                let bandera = 0;
                this.contarElementos = 0;
                let elementosTotal = parseInt(matriz.length) * parseInt(matriz[0].length);
                let direccionVista = 'R';

                /*this.htmlText += "<br><br>";*/

                while (this.contarElementos < elementosTotal){
                    switch (bandera) {
                        case 0:
                            direccionVista = 'R';
                            this.recorrerID(n, m, matriz);
                            bandera++;
                            break;
                        case 1:
                            direccionVista = 'D';
                            this.recorrerArAb(n, m, matriz);
                            bandera++;
                            break;
                        case 2:
                            direccionVista = 'L';
                            this.recorrerDI(n, m, matriz);
                            bandera++;
                            break;
                        case 3:
                            direccionVista = 'U';
                            this.recorrerAbAr(n, m, matriz);
                            bandera = 0;
                            n++;
                            m++;
                            break
                    }
                }
                this.direccionVista.push(direccionVista);
                /*this.htmlText += '<br>';
                this.htmlText += 'Viendo a: ' + this.direccionVista;*/
                /*$(".prueba-matriz").html(this.htmlText);*/
            },

            recorrerID(n,m,matriz){

                for (var c = n; c < matriz[0].length - m; c++) {
                    /*this.htmlText += matriz[n][c];
                    this.htmlText += " ";*/
                    this.contarElementos++;
                }
            },
            recorrerArAb(n,m,matriz){
                for (var c = n + 1; c < matriz.length - n; c++) {
                    /*this.htmlText += matriz[c][matriz[0].length - 1 - m];
                    this.htmlText += " ";*/
                    this.contarElementos++;
                }
            },
            recorrerDI(n,m,matriz){
                for (var c = matriz[0].length - 2 - m; c >= m; c--) {
                    /*this.htmlText += matriz[matriz.length - 1 - n][c];
                    this.htmlText += " ";*/
                    this.contarElementos++;
                }
            },
            recorrerAbAr(n,m,matriz){
                for (var c = matriz.length - 2 - n; c >= n + 1; c--) {
                    /*this.htmlText += matriz[c][m];
                    this.htmlText += " ";*/
                    this.contarElementos++;
                }
            },

            resetVar(){
                this.matrices = [];
                this.contadorElementos = 0;
                this.direccionVista = [];
            }
        },
        mounted() {
        }
    }
</script>
