<template>
    <div class="m-t-20">
        <div class="row" v-if="error">
            <div class="offset-3 col-md-6">
                <div class="alert alert-danger">
                    {{errors.url[0]}}
                </div>
            </div>
        </div>
        <div class="row">

            <div class="offset-1 col-md-6">
                <div class="row" v-if="cargarArchivo == false">
                    <div class="col-md-8">
                        <input class="form-control" v-model="urlOriginal" type="text" placeholder="Inserta la URL"/>
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-primary" @click="generateShortUrl">Generar URL</button>
                    </div>
                </div>

                <div class="row" v-if="cargarArchivo == true">
                    <div class="col-md-8">
                        <input class="form-control-file" name="filetxt" type="file" @change="getFile" accept=".txt">
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-primary" @click="generateUrlTxt">Generar URL</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" v-model="cargarArchivo">
                    <label class="form-check-label">
                        Cargar archivo .txt
                    </label>
                </div>
            </div>
        </div>

        <div class="row m-t-20" v-if="responseApi !== null">
            <div v-if="responseApi.status=='ok'"  class="offset-4 col-md-4">
                <div class=" alert alert-info text-center">
                    {{responseApi.url}}
                </div>
            </div>
        </div>

        <div class="row m-t-20" v-if="responseApiArray !== null">
            <div v-if="responseApiArray.status=='ok'"  class="offset-4 col-md-4">
                <div class=" alert alert-info text-center">
                    <ul class="short-url-list">
                        <li v-for="(url, index) in responseApiArray.urls">
                            {{url}}
                        </li>
                    </ul>

                    <a href="#" @click="clickDownload">Descargar</a>
                </div>
            </div>
        </div>

    </div>
</template>

<script>

    import shortUrlService from '../api_services/shortUrl';
    export default {
        components:{
        },
        data(){
            return {
                urlOriginal:'',
                responseApi:null,
                responseApiArray:null,
                error:false,
                errors :{},
                cargarArchivo:false,
                fileTxt:null
            };
        },
        computed: {

        },
        watch:{
            cargarArchivo(val){
                this.resetVar()
            }
        },
        methods:{
            generateShortUrl(){
                this.resetVar();
                let request = {
                    url:this.urlOriginal,
                }
                shortUrlService.shortenUrl(request)
                    .then((response) => {
                        if(response.status == 'error'){
                            this.error = true;
                            this.errors = response.errors;
                        }else{
                            this.responseApi = response;
                        }
                    })
                    .catch(err => {
                        this.error = true;
                        console.warn(err);
                    });
            },

            getFile(event){
                this.fileTxt = event.target.files[0];
            },

            generateUrlTxt(){
                var data = new  FormData();
                data.append('filetxt', this.fileTxt);
                shortUrlService.shortenUrlTxt(data)
                    .then((response) => {
                        if(response.status == 'error'){
                            this.error = true;
                            this.errors = response.errors;
                        }else{
                            this.responseApiArray = response;
                        }
                    })
                    .catch(err => {
                        console.warn(err);
                    });
            },

            resetVar(){
                this.responseApi = null;
                this.error = false;
                this.errors = {};
                this.fileTxt = null;
                this.responseApiArray = null;
            },

            download(filename, text){
                var element = document.createElement('a');
                element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
                element.setAttribute('download', filename);
                element.style.display = 'none';
                document.body.appendChild(element);
                element.click();
                document.body.removeChild(element);
            },

            clickDownload(){
                let text = '';
                this.responseApiArray.urls.forEach(function (value, index, array) {
                    text += value + "\n";
                });
                let filename = "url.txt";
                this.download(filename, text);
            }

        },
        mounted() {
        }
    }
</script>
